@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* #1d1e20 #FC8019 #05A357 #fff*/
/* black    orange  green   white*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
} */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.active{
    color:#FC8019 !important;
}

.session-hidden{
    visibility: hidden;
}

/* nav section */
#header-section{
    display: flex;
    justify-content: space-between;
    background-color: #1d1e20;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    z-index: 1;
    box-shadow: 0px 0px 30px #1d1e20;
}

#logo{
    margin: 1rem;
    letter-spacing: 0.3rem;
}

#logo span{
    color: #FC8019;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    list-style: none;
}

#nav a{
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

#nav a:hover{
    color: #FC8019;
}

#nav span{
    font-weight: lighter;
    padding-left: 0.2rem;
}

/* showcase section */
#showcase-section{
    background-image: linear-gradient(to right, rgb(25, 27, 25), rgba(72, 78, 72, 0.068)), url(./img/bread-2796393_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 65vh;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

#showcase-text{
    margin: 0 2rem;
}

#showcase-text h2{
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#showcase-text h3 span{
    color: #05A357;
}

#session-variable{
    text-transform: capitalize;
}

#showcase-text h3{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: lighter;
}

#showcase-text p{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

/* category section */
#category-section h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.underline{
    width: 5rem;
    height: 0.4rem;
    background-color: #FC8019;
    margin: 0 auto;
}

#category-options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.btn{
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    background: #1d1e20;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0px 3px 5px #000;
}

#display-category{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: space-between;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 7rem;
}

.item{
    max-width: 15rem;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 5px #dbdbdb;
}

.item img{
    width: 100%;
    height: 10rem;
    border-radius: 4px;
}

.item img:hover{
    transform: scale(1.1);
    transition: all 0.7s;
}

.item-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5rem;
}

.item-desc p{
    color: #1d1e20;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.item-btn{
    padding: 0.5rem 1.5rem;
    background: #FC8019;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-btn:hover{
    background-color: #e46600;
    transition: all 0.3s;
}

#food-id{
    visibility: hidden;
}

/* footer section */
footer{
    text-align: center;
    background-color: #1d1e20;
    color: #fff;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2rem;
    /* position: absolute; */
}


/* Media queries */
@media only screen and (max-width:768px){
    /* category section */
    #display-category{
        grid-template-columns: auto auto auto;
    }
}


@media only screen and (max-width:550px){

    #nav span{
        display: none;
    }

    /* category section */
    #display-category{
        margin: 3rem 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }

    #category-options{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 0.5rem;
    }
}

@media only screen and (max-width:420px){

    /* nav section */
    #header-section{
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    #nav{
        margin: 0;
    }

    #logo{
        margin: 0.5rem;
        text-align: center;
    }

    /* Showcase section */
    #showcase-text h2{
        font-size: 2rem;
    }

    #showcase-text h3{
        font-size: 1.5rem;
    }

    #showcase-text p{
        font-size: 1rem;
    }

    /* category section */
    #display-category{
        margin: 3rem 1rem;
        display: grid;
        grid-template-columns: auto;
    }

    #category-options{
        grid-template-columns: auto auto;
    }
}